* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: sans-serif;
}

.btn-add, .editando .btn-confirmar, .editando .btn-cancelar, .tarea .btn-check, .tarea .check, .tarea .btn-editar, .tarea .btn-eliminar, .btn-eliminar-todas {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-add:hover, .editando .btn-confirmar:hover, .editando .btn-cancelar:hover, .tarea .btn-check:hover, .tarea .check:hover, .tarea .btn-editar:hover, .tarea .btn-eliminar:hover, .btn-eliminar-todas:hover {
  transform: scale(1.2);
  transition: scale 0.2s;
}
.btn-add:active, .editando .btn-confirmar:active, .editando .btn-cancelar:active, .tarea .btn-check:active, .tarea .check:active, .tarea .btn-editar:active, .tarea .btn-eliminar:active, .btn-eliminar-todas:active {
  opacity: 0.4;
}
.btn-add .img-add, .editando .btn-confirmar .img-add, .editando .btn-cancelar .img-add, .tarea .btn-check .img-add, .tarea .check .img-add, .tarea .btn-editar .img-add, .tarea .btn-eliminar .img-add, .btn-eliminar-todas .img-add, .btn-eliminar-todas .img-eliminar-todas {
  width: 30px;
  height: 30px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.541);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}
.contenedor-principal .input-principal {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: white;
}
.contenedor-principal .input-principal:focus {
  background-color: rgba(0, 0, 0, 0.653);
  border-radius: 10px;
  transition: all 0.2s;
}
.contenedor-principal .input-principal::placeholder {
  color: white;
  font-size: 1rem;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.tarea {
  width: fi;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.541);
  color: white;
  gap: 0.3rem;
  animation-name: aparecer;
  animation-duration: 0.5s;
}
.tarea .texto {
  background-color: rgba(0, 0, 0, 0.653);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.tarea .btn-check, .tarea .check, .tarea .btn-editar, .tarea .btn-eliminar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.tarea .btn-check:hover, .tarea .check:hover, .tarea .btn-editar:hover, .tarea .btn-eliminar:hover {
  transform: scale(1.2);
  transition: scale 0.2s;
}
.tarea .btn-check img, .tarea .check img, .tarea .btn-editar img, .tarea .btn-eliminar img {
  width: 25px;
  height: 25px;
}
.tarea .btn-eliminar, .tarea .btn-editar {
  background-color: transparent;
  border: none;
}
.terminada .texto {
  text-decoration: line-through;
  color: grey;
}

.editando .edit {
  border-bottom: 1px solid black;
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  outline: none;
}
.editando .btn-confirmar, .editando .btn-cancelar {
  margin: 0rem 0.3rem;
}
.editando .btn-confirmar img, .editando .btn-cancelar img {
  width: 30px;
  height: 30px;
}
@keyframes eliminartodas {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}
.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation-name: eliminartodas;
  animation-duration: 0.5s;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0rem;
}

.fecha {
  margin-top: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

.contenedor-encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*# sourceMappingURL=styles.css.map */
