.btn-add, .editando .btn-confirmar, .editando .btn-cancelar, .tarea .boton-check, .tarea .check, .tarea .btn-editar, .tarea .btn-eliminar, .btn-eliminar-todas {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-add:hover, .editando .btn-confirmar:hover, .editando .btn-cancelar:hover, .tarea .boton-check:hover, .tarea .check:hover, .tarea .btn-editar:hover, .tarea .btn-eliminar:hover, .btn-eliminar-todas:hover {
  transform: scale(1.2);
  transition: scale 0.2s;
}
.btn-add:active, .editando .btn-confirmar:active, .editando .btn-cancelar:active, .tarea .boton-check:active, .tarea .check:active, .tarea .btn-editar:active, .tarea .btn-eliminar:active, .btn-eliminar-todas:active {
  opacity: 0.4;
}
.btn-add .img-add, .editando .btn-confirmar .img-add, .editando .btn-cancelar .img-add, .tarea .boton-check .img-add, .tarea .check .img-add, .tarea .btn-editar .img-add, .tarea .btn-eliminar .img-add, .btn-eliminar-todas .img-add, .btn-eliminar-todas .img-eliminar-todas {
  width: 30px;
  height: 30px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.541);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}
.contenedor-principal .input-principal {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: white;
}
.contenedor-principal .input-principal:focus {
  background-color: rgba(0, 0, 0, 0.653);
  border-radius: 10px;
  transition: all 0.2s;
}
.contenedor-principal .input-principal::placeholder {
  color: white;
  font-size: 1rem;
}

.tarea {
  width: fi;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.541);
  color: white;
  gap: 0.3rem;
}
.tarea .texto {
  background-color: rgba(0, 0, 0, 0.653);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin: 0;
}
.tarea .boton-check, .tarea .check, .tarea .btn-editar, .tarea .btn-eliminar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.tarea .boton-check:hover, .tarea .check:hover, .tarea .btn-editar:hover, .tarea .btn-eliminar:hover {
  transform: scale(1.2);
  transition: scale 0.2s;
}
.tarea .boton-check img, .tarea .check img, .tarea .btn-editar img, .tarea .btn-eliminar img {
  width: 25px;
  height: 25px;
}
.tarea .btn-eliminar, .tarea .btn-editar {
  background-color: transparent;
  border: none;
}
.terminada .texto {
  text-decoration: line-through;
  color: grey;
}

.editando .edit {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.653);
  border-radius: 10px;
}
.editando .btn-confirmar, .editando .btn-cancelar {
  margin: 0rem 0.3rem;
}
.editando .btn-confirmar img, .editando .btn-cancelar img {
  width: 30px;
  height: 30px;
}
.container {
  width: fit-content;
  margin: 1rem auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation-name: eliminartodas;
  animation-duration: 0.5s;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0rem;
}

.fecha {
  margin-top: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
  margin-bottom: 0;
}

.contenedor-encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes creada {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes icon-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes eliminada {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes editando {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mover-arriba {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-78px);
  }
}
.creada {
  animation-name: creada;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.check {
  animation-name: icon-check;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.eliminada {
  animation-name: eliminada;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.editando {
  animation-name: editando;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mover-arriba {
  animation-name: mover-arriba;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: sans-serif;
}

nav {
  height: 100px;
}
nav .container-fluid {
  display: flex;
  justify-content: center !important;
  gap: 1rem;
}
nav .container-fluid button img {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.boton-config {
  opacity: 0.4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 3px;
}
.boton-config:hover {
  transform: scale(1.1);
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 700;
  cursor: auto;
  margin: 0;
}

.cambiar-tema {
  display: flex;
  flex-direction: column;
}
.cambiar-tema img {
  width: 20px;
  display: inline;
}

.contenedor-temas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contenedor-temas button {
  width: fit-content !important;
}

.abajo {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: flex;
  gap: 0.5rem;
}
.btn img {
  width: 20px;
}

input[type=color] {
  appearance: none !important;
  -webkit-appearance: none !important;
}

.color-p {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.447);
}
.color-p img {
  display: none;
}

.color-s {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.447);
}
.color-s img {
  display: none;
}

.parrafo {
  margin: 0;
}

.body-personalizar {
  display: flex;
  flex-direction: column;
  width: 250px !important;
  gap: 1.5rem;
}

.offcanvas-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.offcanvas-title img {
  width: 35px;
}

.btn-close {
  width: 35px !important;
  height: 35px !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=styles.css.map */
