@keyframes creada {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes icon-check {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes eliminada {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes editando {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes mover-arriba {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-78px);
    }
}