.creada{
    animation-name: creada;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.check{
    animation-name: icon-check;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
.eliminada{
    animation-name: eliminada;
    animation-duration: .9s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.editando{
    animation-name: editando;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mover-arriba{
    animation-name: mover-arriba;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}