



// TEMA CLARO  

.fondo-claro{
    background-color: rgb(173,216,230);
    transition: 1s all;
}

.tarea-claro{
    background-color: rgb(148,168,175);
    transition: 1s all;
}


.texto-claro{
    color: white;
    background-color: rgba(0, 0, 0, 0.653);
    transition: 1s all;
}


// TEMA OSCURO

.fondo-oscuro{
    background-color: rgb(27,73,88);
    transition: 1s all;
}

.tarea-oscuro{
    background-color: rgb(64,90,98);
    transition: 1s all;
}

.texto-oscuro{
    color: rgb(232,230,227);
    transition: 1s all;
}

// PERSONALILZADO